[Unit]
Description=llama.cpp server
After=network.target

[Service]
ExecStart={{ llama_cpp_bin_dir }}/llama-server --poll 0 --models-preset {{ llama_cpp_preset_path }} --models-max 1 --host 0.0.0.0 --port {{ llama_cpp_port }} --metrics
Restart=on-failure

[Install]
WantedBy=multi-user.target
