# LLM stack user guide

Welcome to the `LLMstack` network!

## Services

By connecting to this WiFi network, you can access the following local services:

- [Open WebUI](https://chat.{{ base_domain }})
- [Vaultwarden](https://vaultwarden.{{ base_domain }})
- [Forgejo](https://forgejo.{{ base_domain }})

You will be provided with a username and password for [Vaultwarden](https://vaultwarden.{{ base_domain}}).
This contains all usernames and passwords that you need for the other services.

[Open WebUI](https://chat.{{ base_domain }}) is an interface for interacting with LLMs (Large Language Models). After logging in, you will see a dropdown menu with different model options. Give it a try - you might find that your experience changes drastically when you select a different model.

In [Forgejo](https://forgejo.{{ base_domain }}), you can work on shared repositories or you can create your own repository.
If you have access to a container with an agent harness, this allows you to use `git` to provide the agent with your files. 
