[defaults]
interpreter_python = /opt/ansible_venv/bin/python
inventory = inventory/post_harden.yml   # Created by hardening.yml playbook
inventory_ignore_patterns = static_hosts_template
vault_password_file = ~/.vault_pass

[ssh_connection]
control_path_dir = /tmp/.ansible-cp
control_path = %(directory)s/%%h-%%p-%%r
